@charset "ISO-8859-1";

body {
	background-image: url(../Image/1234.jpg);
	background-repeat: none;
	background-size: 900px 1100px;
    width:auto;
    height:1100px;
	
}

.form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.form-input1 {
    font-size: 17px;
    box-sizing: border-box;
    width: 75%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: center;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.marks-input {
    font-size: 12px;
    box-sizing: border-box;
    width: 50%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: center;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

/* button */
.ButtonC {
   display:inline-block;
   padding:10px 20px;
   background-color: #0099ff;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
	width:100%;
	height:40px;
}

.ButtonC:hover {
  background-color: #ff3300;
  color:white;
}

.ButtonR {
   display:inline-block;
   padding:10px 20px;
   background-color: #ff6600;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
	width: 100%;
}

.ButtonR:hover {
  background-color: #007acc;
  color:white;
}

.ButtonS {
   display:inline-block;
   padding:10px 20px;
   background-color: #ff6600;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
   width:100%;
}

.ButtonS:hover {
  background-color: #ff3300;
  color:white;
}

.ButtonD {
   display:inline-block;
   padding:10px 20px;
   background-color: #FF0004;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#FFFFFF;
   cursor:pointer;
   width:100%;
}

.ButtonD:hover {
  background-color: #FF5456;
  color:white;
}


.nam
{
	font-size:25px;
	font-weight: bold;
	word-spacing: 12px;
	letter-spacing: 6px;
	color: #000000;
	
}

.nam1
{
	font-variant:12px;
	font-size:15px;
	margin-left:5px;
	letter-spacing: 5px;
	color: #ffffff;
	padding-bottom:12px;
	padding-top:12px;
	
}
.form1{
  font-family: "Roboto", sans-serif;
  width:1300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  height: auto;
  border-radius: 10px;
  background-color:white;
  opacity:0.9;
}