@charset "ISO-8859-1";

body {
	background-image: url(../Image/1234.jpg);
	background-repeat: none;
	background-size: 900px 1100px;
    width:auto;
    height:1100px;
	
}

.form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    text-align: left;
    border: 1px solid #000000;
    border-radius: 4px;
    background: white;
    outline: none;
}

.form-input1 {
    font-size: 17px;
    box-sizing: border-box;
    width: 75%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 4px;
    background: white;
    outline: none;
}

.marks-input {
    font-size: 12px;
    box-sizing: border-box;
    width: 50%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 4px;
    background: white;
    outline: none;
}

/* button */
.ButtonC {
   display:inline-block;
   padding:10px 20px;
   background-color:  #0080ff;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#ffffff;
   cursor:pointer;
	width:100%;
	height:40px;
}

.ButtonC:hover {
  background-color: #016cfe;
  color:white;
}

.ButtonR {
   display:inline-block;
   padding:10px 20px;
   background-color: #fc7303;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#ffffff;
   cursor:pointer;
	width: 100%;
}

.ButtonR:hover {
  background-color: #fd860f;
  color:white;
}

.ButtonS {
   display:inline-block;
   padding:10px 20px;
   background-color: #0080ff;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#ffffff;
   cursor:pointer;
   width:100%;
}

.ButtonS:hover {
  background-color: #016cfe;
  color:white;
}

.ButtonD {
   display:inline-block;
   padding:10px 20px;
   background-color: #FF0004;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#FFFFFF;
   cursor:pointer;
   width:100%;
}

.ButtonD:hover {
  background-color: #FF5456;
  color:white;
}


.nam
{
	font-size:25px;
	font-weight: bold;
	word-spacing: 12px;
	letter-spacing: 6px;
	color: #000000;
	
}

.nam1
{
	font-variant:12px;
	font-size:15px;
	margin-left:5px;
	letter-spacing: 5px;
	color: #ffffff;
	padding-bottom:12px;
	padding-top:12px;
	
}

.nam1
{
	font-size:30px;
	font-weight: bold;
	word-spacing: 12px;
	letter-spacing: 3px;
	color: #ffffff;
	
}

.img{
  font-family: "Roboto", sans-serif;
  width:1300px;
  margin-top:100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  height: auto;
  border-radius: 10px;
  background-color:white;
  opacity:0.9;
}

.header{
	width:100%;
	height:auto;
	margin-:auto;
	position: absolute;
	position:fixed;	
	z-index:1;
	background-color: 	#000080;

}
img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	
}