@charset "ISO-8859-1";


body {
	background-image: url(../Image/mail3.jpg);
	background-repeat: none;
	background-size: 1500px 1100px;
    width:1500px;
    height:auto;
	
}

.form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 60%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.form-input1 {
    font-size: 17px;
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 4px;
    background: white;
    outline: none;
}

/* button */
.ButtonC {
   display:inline-block;
   padding:10px 20px;
   background-color: #0099ff;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
	width:100;
}

.ButtonC:hover {
  background-color: #ff3300;
  color:white;
}

.nam1
{
	font-size:30px;
	font-weight: bold;
	word-spacing: 12px;
	letter-spacing: 3px;
	color: #ffffff;
	
}

.nam11
{
	font-size:20px;
	font-weight: bold;
	color: #000000;
	
}

.img1 {
  font-family: "Roboto", sans-serif;
  width:1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:-120px;
  margin-left:400px;   
  height: auto;
  border-radius: 10px;
  background-color:white;
  opacity:0.9;
}
.header{
	width:100%;
	height:auto;
	margin-top:-20px;
	position: absolute;
	position:fixed;	
	z-index:1;
	background-color: 	#000080;

}
.side-navbar{
	height:100%;
	width:260px;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color: #000080;
	overflow-x:hidden;
	padding-top:20px;
}
 .side-navbar a{
 
 padding:50px 10px 10px 50px;
 text-decoration: none;
 font-size:18px;
 font-weight:900;
 display:block;
 font-family: "Times New Roman", Times, serif;
 color:	#ffffff;
 }
 
 .side-navbar a:hover{
 color:#ffff00;
 -webkit-transform: scale(1.3);
	transform: scale(1.3);	
 
 }

img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	
}
